.main-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.5rem;
	background-color: bisque;
	padding: 0 1rem;
	display: flex;
	align-items: center;
}

.main-nav_logo h1 {
	margin: 0;
	font-size: 1.5rem;
}

.main-nav_items {
	margin-left: 1.5rem;
}

.main-nav_items ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-nav_items li {
	margin: 0 1rem;
}

.main-nav_items a {
	text-decoration: none;
	color: black;
}

.main-nav_items a:hover,
.main-nav_items a:active {
	color: red;
}
